html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Arial';
  font-size: 48px;
  color:maroon;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}

h2 {
  font-family: 'Arial';
  font-size: 32px;
  color:gold;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}

h3 {
  font-family: 'Arial';
  font-size: 24px;
  color:silver;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}
p {
 font-family: 'Arial';
  font-size: 18px;
  color:white;
  background:black;
  height: border-box;
  margin:0px;
  padding:12px;
  border:32px;
  text-align: center;
}

li {
  font-family: 'Arial';
  font-size: 18px;
  color:white;
  background:black;
  height: border-box;
  margin:0px;
  padding:12px;
  border:32px;
  text-align: center;
}

img {
  background-color:black; /*doesn't seem to be working yet for the color background of image*/
  page-align:center;
}

.center { /*This thing here is needed to help with image class definition in html for the image to be centered*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link {color:green;}
a:visited {color:darkgreen;}
a:hover {color:lightgreen;}
a:active {color:darkolivegreen;}
/* the above was to make link roll over to be different colors. I couldn't find a dark green that was lighter than dark green but darker than green so I used dark olive green. */
