html, body {
  height: 100%;
  width: 100%;
}
/* I still need to figure out somehow how to eliminate the blank white space that sometimes appear when running this site in replit*/
h1 {
  font-family: 'Arial';
  font-size: 48px;
  color:maroon;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}

h2 {
  font-family: 'Arial';
  font-size: 32px;
  color:gold;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}

h3 {
  font-family: 'Arial';
  font-size: 24px;
  color:silver;
  background:black;
  height: border-box;
  margin:0px;
  padding:32px;
  border:32px;
  text-align: center;
}
p {
 font-family: 'Arial';
  font-size: 18px;
  color:white;
  background:black;
  height: border-box;
  margin:0px;
  padding:2px;
  border:2px;
  text-align: center;
}
/* for both p and li and maybe even h3 I think I may need to adjust the margin, border, padding, and such so that there's no more white space
but it's a real pain right now since Github doesn't show me what it looks like and I'm not even sure if Replit is giving me exactly what I'd see
if this webpage went live*/
li {
  font-family: 'Arial';
  font-size: 18px;
  color:white;
  background:black;
  height: border-box;
  margin:0px;
  padding:2px;
  border:2px;
  text-align: center;
}


   /*img doesn't seem to be working yet for the color background of image and so I removed it from css so that I can make sure the image works*/
 


.center { /*This thing here is needed to help with image class definition in html for the image to be centered*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*I think I would like to somehow use images for <hr> breaks in the page and make them look fancy like goth victorian brocade and stuff but
for now I'm going to hold off on that*/

a:link {color:green;}
a:visited {color:darkgreen;}
a:hover {color:lightgreen;}
a:active {color:darkolivegreen;}
/* personally I think making links change colors is super tacky and I'd avoid it, but I'll do this for the assignment */
